.panel-news {
  background: #161e2c;
  color: #d8dce6;
  height: 675px;
}

.searchNews {
  width: 80%;
  margin-top: 5px !important;
  background-color: #d8dce6;
  border-radius: 5px;
}

.title-search-news {
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
  text-align: center;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  padding: 5px 0 5px;
}
.title-search-news i {
  color: #0ee9cb;
}
.content-search-news {
  font-family: "Open Sans";
  margin: 5px 10px;
  background-color: #2c3442;
  border-radius: 5px;
}
.txt-search-news {
  padding: 5px 0 10px;
  text-align: center;
}
TextField {
  font-size: 25px;
}
.MuiOutlinedInput-input {
  padding: 12px 10px;
  font-size: 16px !important;
}
.MuiTreeItem-content {
  padding-left: 5%;
  display: inline-block;
  margin-bottom: 8px;

  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.MuiTypography-body1 {
  font-size: 2rem !important;
}

.MuiTreeItem-content:hover {
  color: #0ee9cb;
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
.MuiTimelineItem-missingOppositeContent:before {
  flex: none !important;
  padding: 0px !important;
  font-size: 1.5rem !important;
}
/* .MuiTimelineItem-content {
  font-family: "Open Sans", Tahoma !important;
  font-size: 14px;
} */
.MuiTimelineDot-outlinedGrey {
  border-color: #0ee9cb !important;
  background-color: #0ee9cb !important;
}
.MuiTimelineContent-root {
  padding: 0px 8px !important;
  font-size: 15px;
  margin-bottom: 15px !important;
}
.MuiTimelineConnector-root {
  background-color: #0ee9cb !important;
  z-index: 10000 !important;
}
.clock {
  color: red !important;
}
.task-News {
  height: 545px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  background-color: #bbbbbb;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#538fff),
    color-stop(99%, #483ac5),
    to(#483ac5)
  );
  background-image: -webkit-linear-gradient(
    bottom,
    #538fff 0%,
    #483ac5 99%,
    #483ac5 100%
  );
  background-image: linear-gradient(
    to top,
    #538fff 0%,
    #483ac5 99%,
    #483ac5 100%
  );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #483ac5;
}
@media only screen and (min-width: 200px) and (max-width: 1200px) {
    .content-search-news {
        margin: 5px 45px;
      };
    .title-search-news {
        font-size: 2rem;
      }
      .task-News{
        display: block;
        z-index: 100000;
      }
  }
  @media only screen and (min-width: 1200px)
  {
    .content-search-news {
      margin: 5px 10px;
    };
  }