.wikiContent{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 400;
  background-color: #4b5a81;
  color: aliceblue;
}
.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .card {
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    min-height:400px;
  }
  .titleCardBox{
    color: darkslateblue;
    font-size: 24px;
    font-weight: bold;
    /* padding: 10px 0 0 15px; */
    padding: 2% 0 0 5%
  }
  .card-text-CardBox{
    color: #4b5a81;
    padding:0 5% 5% 2%;
    min-height:7em ;
  }
  .card span.card-title a{
    color: darkslateblue;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .card .card-image {
    position: relative;
    overflow: hidden;
  }
  
  .card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    z-index: -1;
    width: 100%;
  }
  
  .card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
  }
  
  .card .card-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
  }
  
  .card .card-content p {
    margin: 0;
    color: inherit;
  }
  
  .card .card-content span.card-title {
    line-height: 48px;
  }
  
  .card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
  }
  
  .card .card-action a {
    color: #ffab40;
    margin-right: 16px;
    transition: color 0.3s ease;
    text-transform: uppercase;
  }
  
  .card .card-action a:hover {
    color: #ffd8a6;
    text-decoration: none;
  }
  .divTitle{
    text-align: center;
  }
  .divTitle .lblTitle{
    font-size: 45px;
    margin: 1.25rem 0;
  }
  .lblTitle{
    font-weight: bold;
    font-family: 'Arial', 'Tahoma','Times New Roman', "Times serif";
  }
  /* .basicsCorona{
    display: flex;
    justify-content: center;
    align-items: center;
  } */
.basicsCorona div{
  text-align: center;
}
  .basicsCorona div h3{
    color: aliceblue;
  }
  .lblLearnMore {
    padding-right: 8%;
  }
  .lblLearnMore div{
    text-align: center;
  }
  .lblLearnMore h4 {
    color: aliceblue;
  }
  .borderTitleContentWiki{
    position: absolute;
    height: 95px;
    margin-left: -66%;
    border: 3px solid aqua;
  }
.information h1{
  text-align: center;
  background-color: aquamarine;
  padding: 2% 0 2% 0;
}
.contentInformation{
  padding: 5px 15%;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  word-spacing: 3px;
  line-height: 190%;
}
.protectMyself ul{
  list-style: none;
}
.titleProtectMySelf{
  padding-left: 12%;
}
.contentInformationMask{
  padding-left: 30%;
  padding-bottom: 5px;
  line-height: 190%;
  font-size: 16px;
  word-spacing: 3px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imgContentInformation img{
  padding-top: 6%;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 72%;
}
.contentInformationEffected{
  padding: 5px 3% 5px 6%;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  word-spacing: 3px;
  line-height: 190%;
}
.contentEffected{
  color: darkorange;
}
tbody tr td{
  color: dodgerblue;
}
.card-content, .card-body{
  background-color: navajowhite;
}
.subContentCard{
  color: #4b5a81;
}
.btnSeeDetails{
  font-size: 18px;
  font-weight: 600;
  word-spacing: 3px;
}