.masthead {
    min-height: 300px;
    max-height: 400px;
    background-image: url('../../image/understanding.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    z-index: -9990;
  }
 
 .titleHeading{
   padding-top: 35px;
   color: #f1c400;
   font-family: "gentona", Arial,Tahoma,sans-serif;
 }
 .lblContent{
   font-size: 16px;
 }
 .lblShare{
   font-size: 12px;
   font-weight: 400;
   letter-spacing: 0.8px;
 }
 .Pandemic{
   background-color: ivory;
 }
 .pt-30{
   padding-top: 30px;
   padding-bottom: 30px;
   
 }
 .footer {
  min-height: 250px ;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0c3d86;
  color: white;
  text-align: center;
  display: inline-flex;
  position: relative;
}
.contentAnttizen{
   display: inline-flex;
  align-items: center;
  justify-content: center;
}
.childContentAnttizen{
  padding-left: 10%;
  max-width: 400px;
}
.flexJohnsHopkins{
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center;
  padding-right: 10%;
} 

.contactName{
  margin-bottom: 30px;
}
.borderDiv{
  /* position: absolute; */
  margin-top: 50px;
  height: 150px;
  border: 1px solid aqua;
}
.contentUnderstanding{
  font-family: "gentona",Tahoma,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #31261d;
  font-size: 16px;
}