.page{
    background: #4b5a81;
    /* background-color: #1B2435; */
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;
}
.itemNew{
    background-color: #445175;
    font-size: 1rem;
    height: 60px;
    padding-top: 1rem !important;
    padding-bottom:1rem !important;
    outline: none;
    border: none;
    border-radius: 15px !important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.page .title-form p{
    font-family: sans-serif;
    text-align: center;
    color: ivory;
    /* letter-spacing: -1px; */

}
.page .title-form p:nth-child(1){
    font-size: 40px;
    font-weight: bold;
    padding: 15px 0px 0px 0px;
    margin: 0px;
}
.page .title-form p:nth-child(2){
    color: rgb(243, 83, 83);
    letter-spacing: 1px;
}
.list-group-item{
    margin: 0px !important;
}
.active_Form_Cal{
    background-color: #43ca54;
    width: 100%;
}
.group-survey{
    min-height: 90px;
    overflow: visible;
}
.lbl-tile-group  p{
    margin: 0px;
    color: white;
    padding-left: 20px;
    font-size: large;
    padding-top: 0px;
    text-align: left;
    margin-top: 25px;
}
.content-survey-group div{
    margin-top: 8px;
    margin-bottom: 5px;
}
.box-btn-check{
    width: 96%;
    margin-bottom: 50px;
    display: inline-flex;
}
.box-btn-check button{
    margin-top: 20px;
    border-radius: 15px;
}
@media only screen and (max-width: 765px)
{
  .page{
    margin: 30px 20px;
    border-radius: 20px;
    text-align: center;
  }
  .list-group-item{
      font-size: 12px !important;
      padding: 5px 8px;
}
    .p-note{
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* CSS SlectBox Choose Country */
.SelectBoxCountry{
    width: 75%;
    height: 100%;
}
#demo-simple-select-label{
    color: chartreuse;
    font-size: 17px;
    padding-left: 10px;

}

.MuiInputBase-input{
    font-weight: 600 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    word-spacing: 2px;
    color: #557ef1 !important; 
    font-size: 20px !important;
    padding-left: 5px !important;
}
.select-choose-country{
    padding-bottom: 10px !important;
    border-bottom: 1px solid aquamarine !important;
    font-size: 15px !important;
    padding-top: 10px !important;

}
.select-choose-country:hover {
    color: rgb(55, 58, 236);
    font-weight: bold;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
    background-color: aquamarine !important;
    font-size: 18px !important;
  }
  @media only screen and (max-width: 900px) and (min-width:200px)
  {
    .MuiInputBase-input{
        font-weight: 550 !important;
        word-spacing: 0px !important;
        font-size: 15px !important;
        padding-left: 5px !important;
    }
  }
