.activeNew{
    color: darkblue !important;
    background-color: #4b5a81 !important;
}
.AskQuestion{
  background-color: whitesmoke;
}
#q1,#q2, #q3, #q4, #q5, #q6, #q6, #q7, #q8, #q9, #q10{
  padding: 10px;
  border: 1px solid burlywood;
  margin-top: 15px;
}
.list-group-new{
  display: flex;
  flex-direction: column;
}
/* Bounce in */
.itemNew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 1s ease-in;
  font-size: 16px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  word-spacing: 3px;
  margin: 15px 0 15px 0;
}
.itemNew:hover, .itemNew:focus,.itemNew.active {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition-timing-function: cubic-bezier(0.4, 1.5, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.4, 1.5, 0.31, -0.36);
  background-color: chartreuse !important;
}

  .titleHeading{
      max-width: 720px;
      margin-top: 60px;
  }
  .footer {
    min-height: 250px ;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0c3d86;
    color: white;
    text-align: center;
    display: inline-flex;
    position: relative;
 }
 .contentAnttizen{
     display: inline-flex;
    align-items: center;
    justify-content: center;
 }
.childContentAnttizen{
    padding-left: 10%;
    max-width: 400px;
}
.flexJohnsHopkins{
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center;
    padding-right: 10%;
} 

.contactName{
    margin-bottom: 30px;
}
.border{
    /* position: absolute; */
    margin-top: 50px;
    height: 150px;
    border: 1px solid aqua;
}